WebSearchWithElasticsearch/bin
WebSearchWithElasticsearch/obj
WebSearchWithElasticsearch.v12.suo
WebSearchWithElasticsearch/WebSearchWithElasticsearch.csproj.user
WebSearchWithElasticsearchNestedDocuments/bin
WebSearchWithElasticsearchNestedDocuments/obj
WebSearchWithElasticsearchNestedDocuments.v12.suo
WebSearchWithElasticsearchNestedDocuments/WebSearchWithElasticsearchNestedDocuments.csproj.user
